@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: white;
}

.navbar {
  background-color: #27187eff;
}

.btn-primary {
  background-color: #27187eff !important;
  border-color: #fca13eff !important;
  color: white;
  border-radius: 15px;
  height: 50px;
  width: 200px;
}

.btn-primary:hover {
  background-color: #fca13eff !important;
}

.background1 {
  background: url(assets/images/background1.png) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  background-size: cover;
  z-index: -10;
}

.tasks-container {
  background: url(assets/images/taskbackground.png) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  background-size: cover;
  z-index: -10;
}

.inputBox {
  margin: 5px;
  border-style: none;
}

::placeholder {
  color: white;
}

#formContainer {
  width: 800px;
  height: 500px;
  background-color: #758bfd;
  display: flex;
  padding: 0 !important;
  border-radius: 15px;
  min-height: 100vh;
}

#formHeader {
  margin-top: 0;
  color: #4e52be !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formImage {
  background-color: #aeb8fe;
  color: #4e52be;
}

a:hover {
  color: #FFFFFF !important;
}

#task-button {

  outline: none !important;
  border: none;
}

#task-button:hover {
  background-color: #4e52beff !important;
}

#task-button:focus {
  background-color: #fca13eff !important;
  color: white;
}


#task-button2 {
  height: 45px;
  outline: none !important;
  border: none;
}

#task-button2:hover {
  background-color: #fca13eff !important;
}

#task-button2:focus {
  background-color: #fca13eff !important;
  color: white;
}

#task-desc {

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  min-height: 800px;
  max-height: 900px;

}

#task-title {
  border: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.orange-text {
  color: #FBAE5B;
}

.max-height {
  min-height: 88vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #758bfd !important;
}

.h2-size {
  font-size: 32px !important;
}

.progress-bar {
  background-color: #ff8600ff !important;
}

.progress {
  height: 50px !important;
  font-size: 25px !important;
}

.task-alert {
  font-size: 14pt;
}

.task-close {
  float: right;
  width: 45px;
  height: 45px;
  border-color: #4E52BE !important;
}

.custom-task-btn {
  width: 90%;
}