@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #27187eff;
}

.btn-primary {
  background-color: #27187eff !important;
  border-color: #fca13eff !important;
  color: white;
  border-radius: 15px;
  height: 50px;
  width: 200px;
}

.btn-primary:hover {
  background-color: #fca13eff !important;
}

.background1 {
  background: url(assets/images/background2.png) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  background-size: cover;
  z-index: -10;
}

.inputBox {
  margin: 5px;
  background-color: #aeb8fe;
  border-style: none;
}

::placeholder {
  color: white;
}

#registerBtn {
  margin-top: 75px;
}

#formContainer {
  width: 800px !important;
  height: 500px;
  /* background-color: #758bfd; */
  display: flex;
  padding: 0 !important;
  border-radius: 15px;
  min-height: 100vh;
}

#formHeader {
  margin-top: 0 !important;
}

.registerForm {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.formImage {
  width: 50%;
  /* background-color: #aeb8fe; */
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  color: #4e52be;
}

